@keyframes fadein {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

  .app {
	/* Disable text selection, or your app will feel like a web page */
	-webkit-user-select: none;
	-webkit-app-region: drag;

	/* Cover the whole window */
	height: 100%;

	/* Make sure this matches the native window background color that you pass to
	 * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
	background: rgb(240, 240, 240);

	/* Smoother startup */
	animation: fadein 2s;
  }