<!DOCTYPE html>
<html>
	<head>
		<link href="asset://styles/app.css" rel="stylesheet" type="text/css" />
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' asset://* https://* http://* 'unsafe-inline'; script-src 'self' 'unsafe-inline'; child-src 'none';">
	</head>
	<body style="background: rgb(42, 40, 38 );padding: 0 auto;height:300px">
		<div style="margin:auto;height:300px">
			<div
			style="color:white;height:120px;text-align: center;
			line-height: 120px;
			vertical-align: middle;font-size:2.5rem;"
			>Loading...</div>
			<div class="d-flex justify-content-center" style="width:180px;margin:auto;">
				<img class="d-flex justify-content-center" style="display:block;width:100px;margin:auto;" src="asset://images/loading.gif"/>
			</div>
		</div>
	</body>
</html>
