<!DOCTYPE html>
<html>
	<head>
		<link href="asset/app.css"/>
	</head>
	<body style="background: purple;">
		<div
		style="text-align: center;
		line-height: 100%;
		vertical-align: middle;"
		>Loading...</div>
		<div class="spinner-grow text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</body>
</html>
